body{
    background: rgb(216, 198, 238);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    text-align: center;
    display: grid;
    align-content: center;
    min-height: 100vh;
}

h1{
    font-size: 50px;
}
h2{
    text-align: center;
}
p{
    color: white;
    max-width: 35em;
    margin:0 auto;
}
ul{ /*display: table;
    text-align: left;*/
    margin: 0 auto;
    padding: 0;
}
a {
    color: white;
}